<h2 mat-dialog-title>{{description}}</h2>

<mat-dialog-content [formGroup]="form">
  <!-- <mat-form-field> -->
  <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" [resizeToWidth]="128"
    format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()">
  </image-cropper>
  <input type="file" (change)="fileChangeEvent($event)" />
  <img [src]="croppedImage" />
  <!-- </mat-form-field> -->
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
  <button mat-raised-button (click)="save()">Save</button>
</mat-dialog-actions>
