<div class="wrapper" [class.unavailable]='!product.isauthorized'>
  <div class="info">
    <div class="img-wrapper">
      <img class="img" [src]='product.thumbnailurl'>
    </div>
    <div class="details">
      <div class="available" *ngIf='product.isauthorized'>
        <hr>
        <div>
          <div class="col-6-sm view-details-wrapper">
            <button type="button" class="view" (click)='onProductClick()'>{{product.name}}</button>
          </div>
          <div class="">
            {{product.dateofbirth  | date : "dd-MM-yyyy"}}
          </div> 
        </div>
      </div>
      <div class="not-available" *ngIf='!product.isauthorized'>
        <hr>
        <p>Under verification</p>
      </div>
    </div>
    <!--span class="category-name" *ngFor='let category of product.categories'>{{category}}</span-->
  </div>
  <div class="detail-view" [class.active]='detailViewActive'>
    <div class="bg" [class.shown]='detailViewActive'></div>
    <div class="info-wrapper">
      <p class="d-holder d-title">{{product.name}}</p>
      <p class="d-holder d-price">{{product.dateofbirth}}</p>
      <p class="d-holder d-description">{{product.mobile}}</p>
    </div>
    <button type="button" class="hide-detail-btn" (click)='onProductClick()'>Click to hide</button>
  </div>

  <div class="bestseller-badge" [class.in-detailed]='detailViewActive' *ngIf='product.best_seller'>
    <span class="star left">&nbsp;</span>
    <span class="txt">Bestseller</span>
    <span class="star right">&nbsp;</span>
  </div>
</div>