<div class="row">
  <div class="col-mat-9 field-label-responsive">
    <div class="col-8">
      <div class="sort-filters-wrapper">
        <sort-filters [filters]='sortFilters' (onSortChange)='sortProducts($event)'></sort-filters>
      </div>
    </div>
    <div class="col-4">
      <search-bar #searchComponent (onSearchChange)='onSearchChange($event)'></search-bar>
    </div>
    <div class="col-3">
      <div class="filters-wrapper">
        <filters #filtersComponent [categories]='originalData.categories' [customFilters]='customFilters' [priceFilters]='priceFilters'
          (onFilterChange)='onFilterChange($event)'></filters>
      </div>
    </div>
    <div class="col-9">
      <showcase [products]='products'></showcase>
    </div>
  </div>
</div>