<mat-sidenav-container style="position: fixed;top: 60px;bottom: 0;left: 0;padding: 0; width: 100%;background-color: #fafafa;box-shadow: 6px 0 6px rgba(0,0,0,.1);">
  <mat-sidenav #sidenav mode="side" class="example-sidenav" [ngStyle]="{ 'width.em': sidenavWidth }" opened="true" (mouseenter)="increase()"
    (mouseleave)="decrease()">
    <mat-nav-list style="padding-top: 0px;">
      <mat-list-item routerLink="dashboard" routerLinkActive="active">
        <mat-icon mat-list-icon>home</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <h5>Dashboard</h5>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="matches" routerLinkActive="active">
        <mat-icon mat-list-icon>face</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <h5>Matches</h5>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="communications" routerLinkActive="active">
        <mat-icon mat-list-icon>mail</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <h5>Communications</h5>
        </div>
      </mat-list-item>

      <mat-list-item *ngIf="!_authService.loggedIn()" routerLink="partner" routerLinkActive="active">
        <mat-icon mat-list-icon>link</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <h5>Profile</h5>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="_authService.loggedIn()" routerLink="editprofile" routerLinkActive="active">
        <mat-icon mat-list-icon>link</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <h5>Edit Profile</h5>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <router-outlet></router-outlet>

</mat-sidenav-container>

<mat-toolbar color="toolbar">
  <mat-toolbar-row>
    <span class="mat-button-wrapper">
      <img src="assets/penquin.png" class="angular-logo">
    </span>
    <span style="margin-left: 20px; color: #4f94d5">Penquin Matrimony Services
    </span>
    <div class="search-container">
      <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>mood</mat-icon>
      </button>
      <mat-menu x-position="before" #menu="matMenu">
        <button mat-menu-item *ngIf="!_authService.loggedIn()" routerLink="login">Login</button>
        <button mat-menu-item *ngIf="!_authService.loggedIn()" routerLink="partner">Register</button>
        <button mat-menu-item *ngIf="_authService.loggedIn()" (click)="onLogout()">Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <mat-toolbar style="position:fixed;box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);" color="toolbar">
  <span>
     
  </span>
  <span class="fill-remaining-space"></span>
  <div class="search-container">
    <button mat-button *ngIf="!_authService.loggedIn()" routerLink="login">Login</button>
    <button mat-button *ngIf="!_authService.loggedIn()" routerLink="partner">Register</button>
    <button mat-button *ngIf="_authService.loggedIn()" (click)="onLogout()">Logout</button>
  </div>
</mat-toolbar> -->